body{
  margin:0;
  padding:0;
  background-color: whitesmoke;
}

.anotherone{
  display:flex;
  position:relative;
  justify-content: center;
}

.FaceRecog{
  position: absolute;
  margin:auto;
}

.test{
  position:absolute;
  border:4px solid skyblue;
}

.my_container{
  text-align:center;
}


.particles{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: -1;
}

.Nav{
  
  margin:10px;
}

.header{
  display:flex;
  justify-content: space-between;
}

.Tilt{
  background-color:skyblue;
  margin:20px;
  box-shadow: 5px 10px #888888;
  height: 80px;
  width: 80px;
}

.ImageForm{
  text-align: center;
}

.ImageForm input{
  min-width:400px;
  margin:10px;
}

@media only screen and (max-width: 600px) {
  .ImageForm input{
    min-width:80%;
    margin:10px;
  }
}