body{
  margin:0;
  padding:0;
  background-color: whitesmoke;
}

.Tilt{
  background-color:skyblue;
  margin:20px;
  box-shadow: 5px 10px #888888;
}

.particles{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: -1;
}

.my_container{
  text-align: center;
}